.item {
  width: 350px;
  padding: 10px;
  transition: transform 0.6s ease;
}

.item p {
  margin: 6px 0px;
}

.item-prices {
  display: flex;
  gap: 20px;
}

.item-price-new {
  color: #374151;
  font-size: 18px;
  font-weight: 600;
}

.item-price-old {
  color: #8c8c8c;
  font-size: 19px;
  font-weight: 500;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 1280px) {
  .item {
    width: 300px;
  }
}

@media (max-width: 992px) {
  .item {
    width: 280px;
  }
  .item-price-new {
    font-size: 16px;
  }
  .item-price-old {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .item {
    width: 100%;
    max-width: 320px;
  }
  .item p {
    font-size: 14px;
  }
  .item:hover {
    transform: scale(1.03);
  }
}

@media (max-width: 576px) {
  .item {
    max-width: 100%;
  }
  .item-prices {
    gap: 15px;
  }
  .item-price-new {
    font-size: 15px;
  }
  .item-price-old {
    font-size: 16px;
  }
}

/* Responsive */
@media (max-width: 1280px) {
  .item {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .item {
    width: 45%;
  }

  .item p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .item {
    width: 100%;
  }

  .item p {
    font-size: 13px;
  }
}